{% extends "common/_base.html" %}
{% block title %}ログイン{% endblock %}
{% block h1_title %}Login page{% endblock %}

{% block content %}
    {% if form.errors %}
        <small class="text-muted"><p>ユーザーID、パスワードが一致しません</p></small>
    {% endif %}
    <h5>登録情報を入力</h5>

<form method="post">
{% csrf_token %}
    <div class="form-group">
        <label>Username</label>
        {{ form.username }}
        <small class="text-muted">{{ form.username.errors }}</small>
    </div>
    <div class="form-group">
        <label>Password</label>
        {{ form.password }}
        <small class="text-muted">{{ form.password.errors }}</small>
    </div>
    <button type="submit" class="btn btn-secondary btn-block">Login</button>
</form>
    <br><br>
    <h5>外部ソーシャルログインサービスを利用</h5>
    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn">
                <a href="{% url 'accounts:github_login' %}"><i class="fa fa-github fa-2x icon"></i></a>
            </button>
            <button type="button" class="btn">
                <a href="{% url 'accounts:google_login' %}"><i class="fa fa-google fa-2x icon"></i></a>
            </button>
            <button type="button" class="btn">
                <a href="{% url 'accounts:twitter_login' %}"><i class="fa fa-twitter fa-2x icon"></i></a>
            </button>
        </div>
    </div>
    <br><br>
    <p><a href="{% url 'accounts:account_signup' %}">新規ユーザー登録はこちらから</a></p>
{% endblock %}