<!DOCTYPE html>
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >


    <title>{% block title %}{% endblock %}</title>
    {% block extra_css %}{% endblock %}

</head>
<header>
    <nav class="navbar navbar-light justify-content-start" style="background-color:#3A405A;">
        <a href="http://localhost:8000" class="navbar-brand" style="color:white">Contents review WebApplication</a>
        <span class="navbar-text" style="color:white;">{% block h1_title %}{% endblock %}</span>
    </nav>
</header>
<body>
<main class="container">
<br>
    {% block content %}{% endblock %}
<br>
</main>
</body>
{% block extra_js %}{% endblock %}
</html>